.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.gridList {
    flex-wrap: nowrap !important;
    /* Promote the list into his own layer on Chrome. This cost memory but helps keeping high FPS. */
    transform: 'translateZ(0)'
}

.gridList li {
    width: auto !important;
}

.gridListTile img{
    height: 100%;
    width: auto;
}

.gridListTile img:hover {
    cursor: pointer;
}

.title {
    color: #fff;
}

.titleBar {
    background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0) 100%);
}
