.card {
    height: 100%;
    opacity: 0.5;
    background: #000000 !important;
}

.card p, .card h2{
    color: white;
}

.media {
    height: 0;
    padding-top: '33.25%';
}

.metaDataContainer {
    margin-top: 5%;
}

.gridMetaData {
    margin-bottom: 2% !important;
}

.gridMetaData span {
    color: white;
    font-weight: bold;
}

.serieMetaData p {
    margin: 0;
}

.ratingGrid, .finalRatingGrid {
    margin-top: 40px !important;
}